.margin-bottom10 {
	margin-bottom: 10px;
}

.margin-bottom20 {
	margin-bottom: 20px;
}

.todo-items-head {
	padding: 10px 0;
}

.todo-item {
	padding: 15px 0;
	border-bottom: 1px solid lightgray;
}

input[type="text"],
textarea {
	width: 100%;
	border-radius: 3px;
	border: 1px solid gray;
	padding: 5px;
}

.modal-dialog .title {
	padding: 5px;
}

.bg-faded {
	background-color: #f7f7f7;
}

.btn-add-item {
	margin: 20px 0;
}

@media(max-width:767px) {
	.todo-item .btn {
		width: 100%;
	}

	.status, .title {
		margin-bottom: 10px;
	}
}
