.margin-bottom10 {
	margin-bottom: 10px;
}

.search {
	width: 100%;
	margin: 0 0 20px 0;
}

.todo-items-head {
	margin: 0 0 20px 0;
	padding: 10px 0;
}

.todo-item {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid lightgray;
}

.status {
	color: purple;
}

input {
	border-radius: 3px;
	border: 1px solid gray;
	padding: 5px;
}

@media(max-width:767px) {
	.todo-item .btn {
		width: 100%;
	}
}
