<!doctype html>
<html ng-app="todo.items.demo">
  <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-sanitize.js"></script>
        <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
        <script src="js/todoItems.js"></script>

        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/todoItems.css">
  </head>
  <body>
	<div ng-controller="ToDoItemsCtrl as $ctrl" class="container modal-demo">
	    <script type="text/ng-template" id="myModalContent.html">
		    <div class="modal-header">
			    <h4 class="modal-title">{{$ctrl.modalTask}} item</h4>
		    </div>
	       <div class="modal-body" id="modal-body">
		       <div class="row">
			       <div class="col-md-12">
				       <div class="title bg-primary">Title:</div>
				       <input type="text" ng-value="$ctrl.newItem.title" ng-model="$ctrl.newItem.title"></p>
			       </div>
		       </div>
		       <div class="row">
			       <div class="col-md-12">
				       <div class="title bg-primary">Description:</div>
				       <textarea type="text"ng-model="$ctrl.newItem.description">{{$ctrl.newItem.description}}</textarea>
			       </div>
		       </div>
		       <div class="row">
			       <div class="col-md-12">
				       <span class="text-primary">Status:</span> <input type="checkbox" ng-model="$ctrl.newItem.status">
			       </div>
		       </div>
	        </div>
	        <div class="modal-footer">
	            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{$ctrl.modalTask}}</button>
	            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Close</button>
	        </div>
	    </script>

	    <h1 class="text-center text-primary text-white">TODO items</h1>
		<input type="text" ng-model="$ctrl.search" class="search margin-bottom20" placeholder="Search by Item ...">


		<div class="row todo-items-head bg-primary hidden-xs margin-bottom20">
			<div class="col-sm-1">Status</div>
			<div class="col-sm-3">Title</div>
			<div class="col-sm-4">Description</div>
			<div class="col-sm-4 text-center">Item actions</div>
		</div>
		<div class="row todo-items-head bg-primary visible-xs margin-bottom20">
			<div class="col-sm-12">Item info</div>
		</div>
	    <div ng-class="{'bg-faded': item.status}" class="row todo-item text-muted" ng-repeat="item in $ctrl.items | filter:$ctrl.search">
	        <div class="col-sm-1 col-xs-1 status"><input type="checkbox" ng-model="item.status"></div>
	        <div class="col-sm-3 col-xs-10 title">{{item.title}}</div>
	        <div class="col-sm-4 hidden-xs">{{item.description}}</div>
	        <div class="col-sm-4 hidden-xs text-right">
	            <button type="button" class="btn btn-info btn-sm" ng-click="$ctrl.update(item)"><span class="glyphicon glyphicon-edit"></span></button>
	            <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.remove(item)"><span class="glyphicon glyphicon-remove"></span></button>
	        </div>

		    <div class="col-xs-12 visible-xs">
			    <div class="row margin-bottom10">
				    <div class="col-xs-12">{{item.description}}</div>
			    </div>
			    <div class="row">
				    <div class="col-xs-6"><button type="button" class="btn btn-info btn-sm" ng-click="$ctrl.open(item)"><span class="glyphicon glyphicon-edit"></span>Edit</button></div>
				    <div class="col-xs-6"><button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.remove(item)"><span class="glyphicon glyphicon-remove"></span>Remove</button></div>
			    </div>
		    </div>
	    </div>
		<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-primary btn-sm btn-add-item" ng-click="$ctrl.add()"><span class="glyphicon glyphicon-plus"></span></button>
			</div>
		</div>

	</div>
  </body>
</html>
